.DS_Store
/.build
/Packages
/*.xcodeproj
*.xcuserstate project.xcworkspace/
*.xcuserdatad
*/build/*
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
